<footer class="border-top footer text-muted py-5">
    <div class="container">
        <div class="row gap-5">
            <div class="col-12 d-flex justify-content-center">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img width="117" height="59" src="https://pizzium.com/wp-content/uploads/2020/09/logo-pizzium.svg" alt="" loading="lazy">
                </a>
            </div>
            <div class="col-12 d-flex justify-content-center gap-4">
                <ul style="display: contents;" class="social-links">
                    <li>
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                </ul>
            </div>
            <div class="col-12 text-center text-white fs-6 fw-semibold">
                © Copyright PIZZIUM S.P.A. Via Bergamo 14, 20135 Milano (MI), Italia –  P.IVA: 09695390964<br/>
                Privacy e Cookie Policy – Made with love by Sinapps
            </div>
        </div>
    </div>
</footer>
